.audio-list{
    width: 100%;
    position: relative;
    padding: 10px;
    border-radius: 15px;
  background-color: rgba(124, 123, 123, 0.137);

    .audio-preview{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        width:100%;
        box-shadow: 0px 1px 5px 1px rgba(51, 51, 51, 0.644);

        cursor: pointer;
        outline: rgba(255, 255, 255, 0)  1px solid;
        transition:0.3s;
        border-radius:10px;
        border-radius: 16px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.158);

        button{
                color: #404041;
                transition:0.3s;
        }
        button:hover{
                color: #0000ff38;
                transform: scale(1.1);
        }

        
    }
    .audio-preview:hover{
        background-color: rgba(248, 255, 250, 0.685);
        outline: white  1px solid;

    }
    p{
        color: rgb(233, 233, 233);
        font-family:"JetBrains Mono", monospace;
        font-size: 16px;
        opacity: 1!important;

    }
}

@media (max-width: 768px){
    .audio-preview{
        p{
            width: 20ch;
        }
      }
}

  

.prev1{
    background: #0575E6;  
    background: -webkit-linear-gradient(to right, #021B79, #0575E6); 
    background: linear-gradient(to right, #021B79, #0575E6); 
    

    }
    .prev2{
        background: #CAC531;  
        background: -webkit-linear-gradient(to right, #F3F9A7, #CAC531); 
        background: linear-gradient(to right, #F3F9A7, #CAC531); 
        
    }
    .prev3{
        background: #c0392b;  
        background: -webkit-linear-gradient(to right, #8e44ad, #c0392b); 
        background: linear-gradient(to right, #8e44ad, #c0392b); 
        

    }
    .prev4{
        background: #59C173;  
        background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173); 
        background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); 
        
    }
    .prev5{
        background: #ad5389;  
        background: -webkit-linear-gradient(to right, #3c1053, #ad5389); 
        background: linear-gradient(to right, #3c1053, #ad5389); 
        
    }
    .prev6{
        background: #a8c0ff;  
background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff); 
background: linear-gradient(to right, #3f2b96, #a8c0ff); 

    }
    .prev7{
        background: #0f0c29;  
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
        
}
.prev8{
        background: #00b09b;  
        background: -webkit-linear-gradient(to right, #96c93d, #00b09b); 
        background: linear-gradient(to right, #96c93d, #00b09b); 
        
    }
    .prev9{
        background: #a8c0ff;  
background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff); 
background: linear-gradient(to right, #3f2b96, #a8c0ff); 

    }
    .prev10{
        background: #0f0c29;  
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
        
}
.prev11{
        background: #00b09b;  
        background: -webkit-linear-gradient(to right, #96c93d, #00b09b); 
        background: linear-gradient(to right, #96c93d, #00b09b); 
        
    }

    .prevRec{
        background: #a5a5a557;  
        
        
    }

    .prevRecOn{
        -webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
        
    }

    .channel{
            padding: 7px;
            border-radius:5px;
            margin: 5px 0px;
            background-color: rgb(66, 66, 66);
    }