.home-page{
    height: 100vh;
        background-image: url('https://images.unsplash.com/photo-1483032469466-b937c425697b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        opacity: 0.8;
        position: relative;


        .app-header{
            background-color: rgba(255, 255, 255, 0);
        }

        .home-page-details{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 80%;
            color:rgb(255, 255, 255);
            background-color: rgba(71, 67, 67, 0.432);
            font-family: "JetBrains Mono", monospace;
            p{
                font-size: 1.5em;
                width: 60ch;
                color:rgb(255, 255, 255);
                padding: 20px;
                
            }
        }
        @media (max-width: 768px){
          .home-page-details{
        
            p{
              font-size: 20px;
                width: 35ch;
                
            }
        }
        }
 
}





//////////LOGO


$bounce-time: 1.5s;
$bounce-letter-delay-factor: 1/3;
$bounce-timing-function: cubic-bezier(0.05, 0, 0.2, 1);
$bounce-height: 1em;
$shadow-opacity: 0.4;
$shadow-scattering-initial: 0.05em;
$shadow-scattering-peak: 0.35em;
$font-family: "Product Sans"; // preferably sans-serif
$font-size: 6rem;
$font-weight: bold;
$font-style: normal;
$letter-colors: #485460, #05da76, #05da76, #485460 ,  #485460, #05da76, #05da76, #05da76, #05da76, #05da76, #485460;


.bounce {
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font-style $font-weight $font-size $font-family, sans-serif;
  white-space: nowrap;

  :nth-child(4){
    margin-right: 12px;
  }
}

.letter {
  animation: bounce $bounce-time / 2 $bounce-timing-function infinite alternate;
  display: inline-block;
  transform: translate3d(0, 0, 0);
  margin-top: 0.5em;
  text-shadow: rgba(#000, $shadow-opacity) 0 0 $shadow-scattering-initial;
  font: $font-style $font-weight $font-size $font-family, sans-serif;
  @for $i from 1 through length($letter-colors) {
      &:nth-child(#{$i}) {
          animation-delay: ($i - 1) * ($bounce-time / length($letter-colors)) * $bounce-letter-delay-factor;
          color: nth($letter-colors, $i);
        }
    }
    font-size: 40px;
}

@keyframes bounce {
  0% {
    transform: translate3d(0, 0, 0);
    text-shadow: rgba(#000, $shadow-opacity) 0 0 $shadow-scattering-initial;
  } 100% {
    transform: translate3d(0, -$bounce-height, 0);
    text-shadow: rgba(#000, $shadow-opacity) 0 $bounce-height $shadow-scattering-peak;
  }
}

@media (max-width: 768px){
.letter{
  font-size: 20px;
}

}